html {
	width: 100%;
	height: 100%;
	background-color: #23272a;
	padding: 0;
	margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-darker {
	background-color: #23272a;
}

.shadow {
	-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.44);
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.44);
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display:block;
  text-align: left;
  margin: 0 auto;
}

.App.container-fluid {
	padding: 0;
}

.content {
  padding: 0 4em 4em 4em;
  max-width: 1100px;
  text-align: left;
  margin: 0 auto;
}

.header {
	padding: 1em;
}

.header h1 { 
	display: flex;
	align-self: center;
	justify-content: center;
	font-size: 4rem;
	font-weight: bold;
}

.header img {
	max-height: 20em;
	margin: 0 auto;
}

.header .rotom {
	color: #41c4b3;
}

.header .box {
	color: #ee738a;
}

.logo {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header .btn {
	float: right;
	background-color: #ee738a;
	border-color: #ee738a;
	margin: 1em;
	display: flex;
	order: 1;
}

.btn.btn-primary, .btn.btn-primary:visited {
	background-color: #ee738a;
	border-color: #ee738a;
	text-align: right;
	height: 2.5em;
}
.btn.btn-primary:hover, .btn.btn-primary:checked, .btn.btn-primary:focus{
	background-color: #c56375!important;
	border-color: #c56375!important;
}


.btn.btn-primary:hover:visited:checked:focus{
	background-color: #f08fa1;
}

.bg-primary, .btn-primary {
	background-color: #f08fa1;
}

.landing {
	text-align: center;
}

.content h1, h2, h3, h4, h5 {
	font-weight: bolder;
}

.content p {
	font-size: 1.3em;
}

.message {
	margin: 1em 0 1em 0;
}

.loading-status.btn.btn-primary {
	text-align: center;
	cursor: none;
}

.search-bar {
	/* display: flex;
	align-items: baseline; */
	margin: auto;
	width: 100%;
	position: relative;
	z-index: 1;
	margin-top: 20px;
}

.search-bar input {
  /* padding: 1.2em; */
  font-size: 1.4em;
  /* max-width: 32em; */
  /* flex-grow: 0; */
  /* display: inline-flex; */
  background-color: #f2f2f2;
  font-weight: 300;
  padding: 20px 40px;
  width: 100%;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 20px;
  border: none; 
}

.search-bar .btn {
	margin-left: 0.6em;
	padding: 0.5em;
	font-size: 1.4em;
}


.search-grid {
	width: 100%;
	text-align: left;
	margin-top: -20px;
}

.search-grid ul {
	display: block;
	width: 100%;
	padding: 0px;
	position: absolute;
	z-index: 0; 
	margin-bottom: 80px;
}

.search-grid li {
	position: relative;
	background-color: #f2f2f2;
	width: inherit;
	z-index: 2;
	cursor: pointer;
	border-top: none;
	border-bottom: 1px solid #aacece;
	padding: 1em;
	list-style: none;
	font-size: 1em;
  }

.search-grid li span.badge {
	font-size: 1em;
	margin: 0.2em;
	padding: 0.6em;
}
.search-grid li p.pokemon {
	font-size: 1.2em;
	padding: 0.6em;
	color: #181827;
}
  
  .search-grid li:first-child {
	padding-top: 15px;
  }
  
  .search-grid li:last-child {
	border-radius: 0px 0px 20px 20px !important;
	-webkit-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
	box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.05);
  }
  
  .search-grid li:hover {
	background-color:  #97d8d8;
  }
  
  .search-grid li.active {
	background-color:  #b6e7e7;
	border: none;
	outline: none;
  }
  
  
.new-team-form {
	text-align: center;
}
.new-team-form form {
	padding: 2em 0 2em 0;
}

.new-team-form .btn.btn-primary {
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
}

.save-team.card { 
	text-align: center;
	padding: 2em;
}

.save-team.card p {
	font-size: 1.1em;
}

.save-team.card button {
	padding: 0 3em 0 3em;
}

.team-info .card-body p {

}

.pokemon-item .list-group-item  {
	border-top-width: 1px;
}

.team-info.card {
	display: block;
	background-color: #444a52;
	margin-top: 2em;
}

.team-pokemon {
	padding: 0rem 2rem 0rem 2rem;
}

.card-deck .pokemon-info.card {
	min-width: 14rem;
	margin-bottom: 2rem;
	border-color: none;
}

.card-img-top {
	background-image: url(../src/img/pokeball.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 12rem;
	padding: 2em;
	border-color: none;
	display: flex;
}

.card-img-top img {
	margin: 0 auto;
	text-align: left;
	flex-shrink: 0;
}

.card-title {
	margin-bottom: 0.25rem;
}

.pokemon-name, .pokemon-type {
	text-align: center;
}

.pokemon-info .card-body {
	padding: 2rem 0 2rem 0;
}

.card-body p, .card-body h5, .card-body h4, .card-body div {
	padding: 0 1.25rem 0 1.25rem;
}

.team-ign, .team-code {
	color: #30c09e;
	font-weight: bolder;
}

.pokemon-info.card span, ul, li {
	text-align: left;
}

.pokemon-options {
	text-align: center;

}

.pokemon-moveset ul {
	padding: 0;
	margin: 0;
}
.pokemon-moveset ul li {
	list-style: none;
	text-align: left;	
}




/* type badge colors */ 

.badge.normal {
	background-color: #a9a878;
}

.badge.fire {
	background-color: #f17f2e;
}

.badge.fighting {
	background-color: #c02f27;
}

.badge.bug {
	background-color: #a8b820;
}

.badge.ghost {
	background-color: #4404a7;
}

.badge.electric {
	background-color: #f9d130;
}

.badge.flying {
	background-color: #a990f1;
}

.badge.steel {
	background-color: #b8b8d0;
}

.badge.psychic {
	background-color: #f95788;
}

.badge.poison {
	background-color: #a03fa1;
}

.badge.ice {
	background-color: #98d9d9;
}

.badge.ground {
	background-color: #e2c168;
}

.badge.water {
	background-color: #6890f0;
}

.badge.dragon {
	background-color: #6f37f9;
}

.badge.rock{
	background-color: #b89f38;
}

.badge.grass {
	background-color: #78c850;
}

.badge.dark {
	background-color: #6f5747;
}