<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Rental Team Database Importer</title>
    </head>
    <body>
        <h1>Import your Rental Team Screenshot</h1>
        <p>Share your Rental Team image from your Nintendo Switch and upload the PNG file here. 
            We will read the file and add your team to the database!
        </p>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" enctype="multipart/form-data" name="rentalTeamScreenshot" />
            <button type="submit">Upload</button>
        </form>
    </body>
</html>