<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Team Database Importer</title>
    <script>
        const events = new EventSource('/events');
        events.onmessage = (event) => {
            const message = JSON.parse(event.data);
        }
        
    </script>
</head>
    <h1>New Rental Team</h1>
    <p class="team-status">
        <%= message %>
    </p>
</body>
</html>